<div layout = "row">
  
  <div id="presentation"  layout="column" flex="50">
    <h1>Qu'est ce que TeamdR</h1>
  
    <p>
      TeamdR est une application permettant de former des équipes de travail pour réaliser tes projets avec des personnes compétentes et compatible
    </p>
    <p>
      Le prix d'la cargaison varie, les Louboutin match la Ferrari<br>
      J'suis pas ton reuf, y'a pas d'“akhi”<br>
      Pour la guerre j'suis Russkov, pour l'shopping j'suis Qatari<br>
      J'veux le flow de ta chatte, j'veux les fonds d'Jacques Attali<br>
      J'lui ai dit “j'veux t'la mettre”, elle m'a dit ”j'veux mettre du Cavalli”<br>
      Grise est la matière, noire est la manie<br>x
      Me sucera-t-elle pour du Armani ?<br>
      Ces négros sont huit mais ces négros sont weak<br>
      Moi et la gloire meilleurs amis<br>
      Tout est permis dans ma fédération<br>
      Les déflagrations sont des célébrations<br>
      J'ai bien retenu la leçon, ségr égation cour de récréation<br>
      J'vais t'niquer ta mère ils vont repasser l'action<br>
      M.A.D.M.A.X génération<br>
      J'suis un selfie t'es l'photomaton<br>
      J'ai des amis flics et des potos matons<br>
      Non pas par gentillesse, pour faire rentrer des iPhone 6S<br>
      Non pas par gentillesse, pour faire rentrer des iPhone 6S<br>
    </p>
  </div>
  <div id = "form-co"ng-controller="logInCtrl" layout="column" flex="50" ng-cloak>
  <br/>
      <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Connexion">
          <md-content class="md-padding">
            <md-input-container class="md-block">
              <!-- Use floating label instead of placeholder -->
              <label>Email</label>
              <input type="email" >
            </md-input-container>
            <md-input-container class="md-block" >
              <label>Password</label>
              <input type="password">
            </md-input-container>
             <md-button md-no-ink class="md-primary">Connexion</md-button>
          </md-content>
        </md-tab>

        <md-tab label="Inscription">
          <md-content class="md-padding">
          <md-input-container class="md-block">
            <label>Email</label>
              <input type="email">
            </md-input-container >
            <md-input-container class="md-block" >
              <label>Password</label>
              <input type="password">
            </md-input-container>
            <md-input-container class="md-block" >
              <label>Confirmer le mot de passe</label>
              <input type="password">
            </md-input-container>
            <md-button md-no-ink class="md-primary">Inscription</md-button>
          </md-content>
        </md-tab>
      </md-tabs>    
    </md-content>
  </div>
</div>


